<!DOCTYPE HTML>
<html>
  <% title = current_article.title unless current_article.nil? %>
  <% tags = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= partial 'head' %>
	<body class="left-sidebar">

		<!-- Header -->
			<div id="header">

        <%= partial 'header', :locals => { :logo => :inline, :comenzar => false } %>
        <%= partial 'nav' %>

			</div>

		<!-- Main -->
			<div class="wrapper style1">
				<div class="container">

        <div class="row double">
          <div class="4u" id="sidebar">
            <hr class="first" />
            <section>
              <a href="http://utopia.partidopirata.com.ar/"><img src="http://wiki.partidopirata.com.ar/images/8/88/Utopia_pirata_logo.png" alt="Utopía Pirata" /></a>
            </section>
            <hr />

            <section>
              <header>
                <h3><a href="/blog/">Artículos Recientes</a></h3>
              </header>
              <p>Está al tanto de las noticias</p>
              <% blog.articles[0...10].each do |article| %>
              <div class="row half no-collapse">
                <div class="4u">
                  <a href="<%= article.url %>" class="image fit"><img src="<%= article.data['thumb'] %>" alt="<%= article.title %>" /></a>
                </div>
                <div class="8u">
                  <h4><%= link_to article.title, article %></h4>
                </div>
              </div>
              <% end %>
               <footer>
                <a href="/blog/" class="button">Más Noticias</a>
              </footer>
            </section>
            <hr />

            <section>
              <header>
                <h3>Tags</h3>
              </header>
              <div class="row half no-collapse">
              <% blog.tags.each do |tag, articles| %>
                <% if articles.size > 5 %>
                  <%= link_to "#{tag} (#{articles.size})", tag_path(tag) %>
                <% end %>
              <% end %>
              </div>
            </section>
            <hr />

            <section>
              <header>
                <h3>Por Año</h3>
              </header>
              <div class="row half no-collapse">
              <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <%= link_to "#{year} (#{articles.size})", blog_year_path(year) %>
              <% end %>
              </div>
            </section>
          </div>

          <div class="8u skel-cell-important" id="content">

          <% unless current_article.nil? %>
            <h2><%= current_article.title %></h2>
          <% end %>
          <%= yield %>

          </div>
        </div>

      </div>
    </div>
		<%= partial "footer" %>
	</body>
</html>
