<!DOCTYPE HTML>
<html>
  <%= partial 'head' %>
	<body class="homepage">

		<!-- Header -->
			<div id="header">

          <%= partial 'header', :locals => { :logo => :big, :comenzar => true} %>
          <%= partial 'nav' %>

			</div>

  <%= yield %>
  <%= partial 'footer' %>
	</body>
</html>
