<!DOCTYPE HTML>
<html>
  <%= partial 'head' %>
	<body class="left-sidebar">

		<!-- Header -->
			<div id="header">

        <%= partial 'header', :locals => { :logo => :inline, :comenzar => false } %>
        <%= partial 'nav' %>

			</div>
			
		<!-- Main -->
			<div class="wrapper style1">

				<div class="container">
          <%= yield %>
				</div>

			</div>

		<%= partial "footer" %>
	</body>
</html>
