---
title: Blog del Partido Interdimensional Pirata
layout: blog
pageable: true
per_page: 8
---
<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <p><%= link_to 'Anterior', prev_page, class: 'button'  %></p>
  <% end %>
<% end %>
<% page_articles.each_with_index do |article, i| %>
<article>
  <header>
    <h2><%= link_to article.title, article %></h2>
    <em><%= article.date.strftime('%d/%m/%y') %></em>
  </header>
  <%= article.summary(321) %>
</article>
<% end %>
<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Siguiente', next_page, class: 'button' %></p>
  <% end %>
<% end %>
