---
pageable: true
per_page: 20
layout: blog
---
<h1>Artículos etiquetados '<%= tagname %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Página <%= page_number %> de <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Página anterior', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Siguiente página', next_page %></p>
  <% end %>
<% end %>
