
<!-- Nav -->
  <nav id="nav">
    <ul>
      <li><%= link_to 'Inicio', '/' %></li>
      <li><%= link_to 'Programa', '/programa.html' %></li>
      <li class="invertido"><%= link_to 'Participar', '/participar.html' %></li>
      <li><%= link_to 'Barcos', '/barcos.html' %></li>
      <li><%= link_to 'Acerca de', '/acerca_de.html' %></li>

    </ul>
  </nav>

  <nav id="nav2">
    <ul>
      <li><%= link_to 'Blog', '/blog/' %></li>
      <li><a href="//wiki.partidopirata.com.ar/">Wiki</a></li>
      <li><%= link_to 'Contacto', 'contacto.html' %></li>
      <li><a href="//wiki.partidopirata.com.ar/Prensa">Prensa</a></li>
    </ul>
  </nav>
