---
title: 'Partido Pirata'
---
		<!-- Banner -->
			<section id="banner">
        <header>
          <h2><%= link_to 'Acerca de', 'acerca_de.html' %></h2>
          <p>
            <strong>El Partido Pirata es un movimiento internacional</strong>, 
            ya que <strong>entendemos que las problemáticas locales son específicas, 
            pero que los valores son humanos y globales.</strong>
          </p>
        </header>

        <p>Con representación en 42 países, teniendo como herramienta internet, la Pirate
        Parties International (PPI) nuclea y reúne las agrupaciones piratas alrededor
        del mundo, incentivando un ambiente de intercambio, debate, innovación,
        experiencia compartida y apoyo entre naciones e individuos.</p>

        <p>En Argentina empezamos hace 5 años y durante todo este tiempo estuvimos
        tramando lazos con distintas comunidades e incorporando más gente, <strong>constituímos
        una carta orgánica en dónde cada palabra está puesta a conciencia</strong>, en base a
        las prácticas y a la experiencia de nuestra organización.</p>

        <p><em>La horizantalidad es un proceso: aprender, enseñar, debatir, acordar y seguir
        aprendiendo lleva tiempo.</em></p>  

        <footer>
          <%= link_to 'Continuar Leyendo', 'acerca_de.html', class: :button %>
        </footer>
			</section>

		<!-- Carousel -->
			<section class="carousel">
        <header>
          <h2><%= link_to 'Está al tanto', '/blog/' %></h2>
          <p>Siguiendo nuestro blog de anuncios y noticias.</p>
        </header>

				<div class="reel">
          <% blog.articles[0...10].each do |article| %>
					<article>
						<a href="<%= article.url %>" class="image featured"><img src="<%= article.data['image'] %>" alt="<%= article.title %>" /></a>
						<header>
							<h3><a href="<%= article.url %>"><%= article.title %></a></h3>
						</header>
						<p><%= Sanitize::clean article.summary(140) %></p>							
					</article>
				  <% end %>
				</div>
			</section>

				<!-- Features -->
			<div class="wrapper style1">
				
				<section id="features" class="container special">
					<header>
						<h2>Nuestros Principios</h2>
					</header>
					<div class="row">
						<article class="4u special">
							<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
							<header>
								<h3><%= link_to 'Democracia directa', 'programa.html#democracia-directa' %></h3>
							</header>
							<p>Fomento y desarrollo de políticas participativas, horizontales, democráticas y
              transparentes en todos los ámbitos, desde las organizaciones de base hasta el
              Estado.</p>
						</article>
						<article class="4u special">
							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
							<header>
								<h3><%= link_to 'Bienes comunes y desarrollo sustentable', 'programa.html#desarrollo-sustentable' %></h3>
							</header>
							<p>Producción sostenible y enfocada principalmente a la satisfacción de las necesidades locales.</p>
						</article>
						<article class="4u special">
							<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
							<header>
								<h3><%= link_to 'Cultura libre', 'programa.html#cultura-libre' %></h3>
							</header>
							<p> Implementación de libre acceso, distribución y modificación
              para todo el material cultural, científico, estadístico, etc., producido o
              financiado por el Estado.	</p>
						</article>
					</div>
				</section>

			</div>

